wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
*.log
.htaccess
node_modules/
.DS_Store
Thumbs.db
*.sql
*.tar.gz
*.zip
.env
.env.local
/vendor/
wp-content/plugins/
wp-content/themes/*
!wp-content/themes/leadsnap-child/
